# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
env/
.env
.conda/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Heavy artifacts & raw results
/data/
/results/

# Model checkpoints & weights
checkpoints/
*.pth
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/