torch
torchaudio
torchvision
transformers>=4.40.0
datasets>=2.20.0
accelerate
scikit-learn>=1.3.0
numpy
soundfile>=0.12.0
librosa>=0.10.0
python-dotenv
hf_transfer
matplotlib
seaborn
tqdm
huggingface_hub[cli]